@import '../../styles/variables.scss';

.parentTagContainer {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
}

.tagPageSidebar {
  margin-right: 5%;
}

.tagPageContents {
  width: 100%;
}

.tagContainer {
  display: flex;
}

