@import 'variables.scss';

* {
  font-family: $noto;
  font-size: 1rem;
  color: $dark;
}

.project-container {
  display: flex;
}
section {
  border: 3px solid red;
  display: flex;
  margin-left: 15rem;
  width: 35rem;
  .avatar-container {
    height: 300px;
  }
}

.avatar-container {
  border: 2px solid black;
  width: 75px;
}

.avatar {
  border-radius: 50%;
}

.content-container {
  display: flex;
  flex-flow: column;
}

.note-header {
  margin-bottom: 2rem;
}

.note-container {
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  button {
    height: 30px;
    width: 60px;
  }
}

.mini-avatar-container {
  display: flex;
  img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
}

.collapsed {
  display: flex;
  margin-left: 5px;
  img {
    margin-right: -10px;
    box-shadow: -2px 2px $light;
  }
  p {
    display: none;
  }
}
