@import 'variables.scss';

.parent-project-container {
  display: flex;
}

.project-page-sidebar {
  margin-right: 5%;
}

.project-page-contents {
  width: 100%;
}

.project-container {
  display: flex;
}

.editor-feed-container {
  display: flex;
  flex-flow: column;
  min-width: 30rem;
}

.team-container {
  margin-left: 5%;
}
