$primary: #AB0027;
$secondary: #1A3777;
$accent: #FDD421;
$background: #E5E5E5;
$nav-link: #313131;
$nav-link-selected: #0051BE;
$admin-product-background: #FFFFFF;
$mobile: "(min-width: 320px) and (max-width: 767px)";
$tablet: "(min-width: 767px) and (max-width: 1024px)";
$desktop: "(min-width: 1024px)";