@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,500|Noto+Sans:400,700&display=swap');

// Fonts
$noto: 'Noto Sans KR', sans-serif;
$fira: 'Fira Sans', sans-serif;

// Colors
$accent: #f54987;
$dark: #21222f;
$light: #fbfbfb;
$copy: #71727a;
