@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,500|Noto+Sans:400,700&display=swap');

// Fonts
$noto: 'Noto Sans', sans-serif;
$fira: 'Fira Sans', sans-serif;

// Colors
$accent: #F54987;
$dark: #21222F;
$light: #FBFBFB;
$copy: #71727A;
