.Maintainability{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
}
.Repo{
    margin: 0px 10px 10px 0px;
    color: #A7A7A7;
    font-weight: 400;
}
.Grade{
    text-shadow: -1px 0 black, 0 .5px black, .5px 0 black, 0 -1px black;
    font-weight: 900;
    position: relative;
    display: inline-block;
}

.GradeCont .Tip{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    // padding: 2px 0;
    margin-top: -20px;
    margin-left: -60px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.GradeCont:hover .Tip{
    visibility: visible;
    
}