.Maintainability {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5px;
}
.Repo {
  margin: 0px 10px 10px 0px;
  color: #a7a7a7;
  font-weight: 400;
}
.Grade {
  text-shadow: -1px 0 black, 0 0.5px black, 0.5px 0 black, 0 -1px black;
  font-weight: 900;
}
