.Maintainability{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
}
.Repo{
    margin: 0px 10px 10px 0px;
    color: #A7A7A7;
    font-weight: 400;
}
.Grade{
    text-shadow: -1px 0 black, 0 .5px black, .5px 0 black, 0 -1px black;
    font-weight: 900;
    position: relative;
    display: inline-block;
}

.GradeCont .Tip{
    visibility: hidden;
    width: 180px;
    background-color: rgba(43, 43, 43, 0.91);
    color: #fff;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    margin-top: 25px;
    margin-left: -92.5px;
    position: absolute;
    z-index: 1;
}

.GradeCont:hover .Tip{
    visibility: visible;
}