@import '../../../styles/variables.scss';

h2 {
  font-size: 1.4rem;
  font-family: $fira;
}

.main-container {
  margin-top: 1rem;

  .editor-container {
    margin-top: 25px;
    display: flex;
    .avatar-container {
      padding: 0.5rem;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    .form-container {
      width: 100%;
      background: rgba(33, 34, 47, 0.02);
      border: solid 0.05rem rgba(33, 34, 47, 0.2);
      padding: 2% 3%;
      border-radius: 1rem;
      input {
        background: inherit;
        border: none;
      }
      input:focus {
        outline: none;
      }
      textarea {
        background: inherit;
        padding: 0;
        border: none;
        width: 100%;
        min-height: 20vh;
        resize: none;
        &:focus {
          outline: none;
        }
      }
    }
    .form-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2vh;
    }
    .body-input {
      height: 15vh;
    }
    .text-footer {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      p {
        font-size: 0.6rem;
      }
      img {
        width: 25px;
        border-radius: 50%;
      }
      .expanded {
        .attendees-avatars {
          display: flex;
          flex-flow: wrap;
          img {
            border: 2px solid $light;
          }
        }
        .mini-avatar-container {
          display: flex;
          align-items: center;
          width: 45%;
          button {
            border: none;
            background: none;
            &:focus {
              outline: none;
            }
          }
        }
      }
      .collapsed {
        .attendees-avatars {
          display: flex;
          flex-wrap: wrap;
          margin-right: 3rem;
          img {
            margin-right: -6px;
            border: 2px solid $light;
            &:hover {
              cursor: pointer;
            }
          }
          p {
            display: none;
          }
          button {
            display: none;
          }
        }
      }
      .disabled {
        background: $copy;
        border-radius: 8%;
        color: white;
        width: 5rem;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
      .save-btn {
        background: $accent;
        border-radius: 8%;
        color: white;
        width: 5rem;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
      .privatetoggle-btn {
        background: $accent;
        border-radius: 8%;
        color: white;
        width: 6.5rem;
        text-align: center;
        padding: 11px 15px;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
      input {
        transform: scale(1.5);
      }
      .button-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 40px;
        .notification {
          margin-right: 1rem;
          input {
            margin-left: 0.5rem;
          }
        }
      }
      .button-container-min {
        display: flex;
        flex-flow: column;
        align-items: center;
        label {
          display: flex;
          align-items: center;
          margin-bottom: 1vh;
          text-align: center;
        }
        input {
          margin: 0 -0.2rem 0.6rem 0.8rem;
          text-align: center;
        }
      }
    }
  }
}
