@import "../../variables.scss";

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

.project-list-container {
    width: 300px;
    font-family: "Roboto";
    font-weight: 500;
  
    .project-list-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .project-list-title {
        color: $secondary;
        font-size: 18px;
      }
  
    }
  
    .user-project-search-wrapper {
      display: flex;
      margin-top: 1.6rem;
      align-items: center;
      background: white;
  
      .user-project-search-icon {
        position: relative;
        left: 8px;
      }
  
      .user-project-search {
        width: 100%;
        background: white;
        font-size: 1.4rem;
        padding: 1.5rem;
        border: none;
        border-radius: 5px;
        font-family: "Roboto";
        font-weight: 500;
        outline: none;
  
        &::placeholder {
          color: black;
          opacity: 1;
        }
      }
    }
  
    .projects-no-projects {
      text-align: center;
      font-size: 2rem;
      margin-top: 4rem;
      width: 321px;
    }
  }
  