@import '../../../styles/variables.scss';

.modalStyle {
  position: relative !important;
  height: 200px !important;
  width: 350px !important;
}

.buttonStyle {
  position: fixed;
  width: 100%;
  bottom: 0;
}
