.miniAvatarContainer {
  display: flex;
  align-items: center;
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 0.5rem;
  }
  button {
    border: none;
    background: none;
    &:focus {
      outline: none;
    }
  }
}
