@import '../../styles/variables.scss';

* {
    font-family: $noto;
    font-size: 1rem;
    color: $dark;
}

.projectHeaderContainer {
    display: flex;
    flex-direction: column;
    padding: 4vh 0 0;

    .projectBackLink  {
        font-family: $fira;
        background-color: white;
        text-decoration: none;
        color: $accent;
        font-weight: bold;
    }
}

.projectSummaryContainer {
    display: flex;

    .projectTitleContainer {
        width: 48rem;
    
        .projectTitle {
            margin: 10px 0;
            font-size: 2.5rem;
        }
    }
    
    .projectStatusContainer {
        display: flex;
        align-items: center;
    
        .projectStatus {
            width: 50%;
            font-size: 1.1rem;
            font-weight: bold;
            margin: 0 5%;
        }
        
        .projectFire {
            font-size: 2.5rem; 
        }
    }
}

.projectTabsContainer {
    display: flex;
    margin: 0;

    .projectOverviewTab {
        font-family: $fira;
        margin: 5px 20px 0 0;
        cursor: pointer;
        padding: 0 2px 4px 1px;
        border-bottom: 2px solid $accent;
        font-weight: bold;
    }

    .projectDynamicsTab {
        font-family: $fira;
        margin: 5px 20px 0 0;
        cursor: pointer;
        padding: 0 2px 4px 1px;
    }
    .projectDynamicsTab:hover {
        border-bottom: 2px solid $accent;
        padding: 0 2px 2px 1px;
    }
}

.projectContentDivider {
    display: flex;
    opacity: 0.2;
    margin: 0 10% 0 0; 
}