@import 'variables.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  width: 15rem;
  background-color: #f9f9f9;
  height: 100%;
}

.logo {
  padding: 2rem;
  padding-left: 3rem;
  width: 35px;
}

.orgIcon {
  background-color: $accent;
  height: 50px;
  width: 50px;
  margin: 2rem;
}

.links {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.link {
  font-family: $fira;
  text-decoration: none;
  padding-left: 3rem;
  border-left: 5px solid #f9f9f9;
	margin-bottom: 20px;
}

.link:hover {
  color: $accent;
}

.current {
  border-left: 6px solid $accent;
  // border-top-left-radius: 2px;
  // border-bottom-left-radius: 2px;
  font-weight: 900;
  margin-bottom: 20px;
}
