.gradeCont {
    display: flex;
    justify-content: space-around;
}

.gradeBox {
    color: white;
}

.scsssux {
    margin-top: 20px;
    padding: 10px;
    box-shadow: 3px 2px 3px 2px gainsboro;
    border-radius: 3px;
}