@import '../variables.scss';

.bad-container {
  margin: 0 auto;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .bad-header {
    font-size: 10rem;
    margin-bottom: 2rem;
    color: $primary;
  }

  .bad-desc {
    font-size: 5rem;
  }
}