.ui.container.footer-container {
  margin: 0 !important;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;

  .footer-feedback {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    height: max-content;

    &:hover {
      cursor: pointer;
      color: $primary;
    }

    .footer-chat-icon{
      position: relative;
      top: 2px;
    }
  }

  .footer-misc {
    display: flex;

    p:nth-child(2) {
      margin-left: 3rem;
    }

    .footer-github-icon {
      position: relative;
      bottom: 4px;
      margin-left: 3rem;
    }
  }
}