.auth-container {
  position: absolute;
  width: 92.4vw;
  min-height: 95vh;
  max-height: 95vh;
  margin: 0 auto;
  margin-top: 4%;
  background: #ffffff;
  border-radius: 5px;
  margin-bottom: 4%;
  z-index: 1;

  .auth-header {
    position: absolute;
    width: 30%;
    height: 4.3rem;
    left: 5%;
    top: 10%;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.3rem;
    text-align: left;
    letter-spacing: 0.06em;
    color: #0051be;
  }

  .dontHave {
    position: absolute;
    width: 50%;
    height: auto;
    left: 5%;
    top: 21%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #313131;
  }

  .error {
    font-size: 1.4rem;
    color: #ff9494;
    font-weight: 700;
    margin: 1rem 0.5rem;
  }

  label {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    color: #313131;
  }

  //? login form styles
  .login-form {
    height: 58vh;
    width: 38vw;
    position: absolute;
    top: 30%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: space-between;

    .email {
      height: 33%;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .password {
      height: 33%;
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    input {
      width: 100%;
      height: 33%;
      border: none;
      fill: solid;
      background: #f4f5f9;
      border-radius: 5px;
      margin-top: 2.5%;
      padding-left: 1.5%;
      font-size: 1.8rem;

      &::placeholder {
        font-size: 1.6rem;
        padding-left: 1.5%;
      }
    }

    .remember {
      height: 4.5%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transform: translateY(-80%);
      input {
        margin: 0;
        padding: 0;
        width: 5%;
        height: 100%;
        border: 1.5px solid #0051be;
        border-radius: 5px;
      }
      p {
        margin-left: 1%;
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.06em;
        color: #313131;
      }
    }

    .btn {
      width: 25%;
      height: 11%;
      margin-top: 30px;
      background: #0051be;
      border-radius: 5px;
      font-family: Lato;
      font-style: normal;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 22px;
      color: #ffffff;
    }
  }

  //?registration form styles
  .register-form {
    height: 55vh;
    width: 38vw;
    position: absolute;
    top: 30%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: space-between;

    input {
      height: 40%;
      border: none;
      fill: solid;
      background: #f4f5f9;
      border-radius: 5px;
      margin-top: 10px;
    }

    .names {
      height: 30%;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .first-name {
        width: 48.5%;
        display: flex;
        flex-direction: column;
      }

      .last-name {
        width: 48.5%;
        display: flex;
        flex-direction: column;
      }
    }

    .email {
      width: 100%;
      height: 30%;
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
      }
    }

    .passwords {
      height: 30%;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .password {
        width: 48.5%;
        display: flex;
        flex-direction: column;
      }

      .confirm-password {
        width: 48.5%;
        display: flex;
        flex-direction: column;
      }
    }

    button {
      position: absolute;
      width:25%;
      left: 0;
      bottom: -3%;
      padding: 1.2rem;
      background: #0051be;
      border-radius: 5px;
      color: #ffffff;
      font-family: Lato;
      font-style: normal;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 22px;
    }
  }
}

.auth-img {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 4%;
  width: auto;
  min-height: 95vh;
  max-height: 95vh;
}
