@import '../../../styles/variables.scss';

.deleteColumnModal {
  p {
    font-size: 1.2rem;
  }
  h3 {
    text-align: center;
  }
}

.trashIcon {
  color: lightgray;
  cursor: pointer;
  pointer-events: auto;
  :hover {
    color: gray;
  }
}
