@import '../../../styles/variables.scss';

.labelDesign {
  display: inline-block;
  color: white;
  text-align: center;
  align-content: center;
  margin-bottom: 10px;
  width: 100px;
  height: 20px;
  border-radius: 25px;
  font-size: 0.8rem;
}
