@import "../../variables.scss";

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

.product-list-container {
  width: 300px;
  font-family: "Roboto";
  font-weight: 500;

  .product-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .product-list-title {
      color: $secondary;
      font-size: 18px;
    }

    .add-product-icon {
      cursor: pointer;
    }
  }

  .admin-product-search-wrapper {
    display: flex;
    margin-top: 1.6rem;
    align-items: center;
    background: white;

    .admin-product-search-icon {
      position: relative;
      left: 8px;
    }

    .admin-product-search {
      width: 100%;
      background: white;
      font-size: 1.4rem;
      padding: 1.5rem;
      border: none;
      border-radius: 5px;
      font-family: "Roboto";
      font-weight: 500;
      outline: none;
  
      &::placeholder {
        color: black;
        opacity: 1;
      }
    }
  }
}