@import "../../variables.scss";

.admin-project-more-loader {
  margin-top: 5rem;
}

.admin-project-more-container {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  .admin-project-more-null {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
  }

  .admin-project-more-overview {

    .admin-project-more-overview-content {
      margin-top: 3rem;

      .admin-project-more-overview-product {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      .admin-project-more-overview-project {
        font-size: 4rem;
      }

      .admin-project-more-overview-status {
        font-size: 1.5rem;
        margin: 1rem 0 3rem 0;
      }

      .not-completed {
        color: $primary;
      }

      .completed {
        color: $secondary;
      }

      .admin-project-more-overview-programs {
        display: flex;
        margin-bottom: 1rem;

        .product-program-avatar {
          font-size: 12px;
          padding: 0.5rem 1.5rem;
          margin-right: 0.75rem;
          color: black;
          border-radius: 2.5px;
          color: white;
          width: max-content;
        }
        .program-ds {
          background: $primary;
        }
        .program-ux {
          background: $nav-link-selected;
        }
        .program-web {
          background: $accent;
          color: black;
        }

      }
    }
  }

  .admin-project-more-team-head {
    font-size: 3rem;
    margin-top: 6rem;
  }

  .admin-project-more-team {
    display: flex;
    flex-flow: wrap;

    .admin-project-more-team-name {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    .admin-project-more-team-email {
      font-size: 1.25rem;
      color: $nav-link;
      margin-bottom: 4rem;
    }

    .admin-project-more-team-gh {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
    }

    .admin-project-more-team-slack {
      margin: 1rem 0;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
    }

    .admin-project-more-team-timezone {
      font-size: 1.25rem;
      font-weight: bold;
    }

    .product-program-avatar {
      font-size: 12px;
      padding: 0.5rem 1.5rem;
      margin-right: 0.75rem;
      color: black;
      border-radius: 2.5px;
      color: white;
      width: max-content;
      margin-top: 1rem;
    }
    .program-ds {
      background: $primary;
    }
    .program-ux {
      background: $nav-link-selected;
    }
    .program-web {
      background: $accent;
      color: black;
    }
  }
}


