.admin-project-more-container {
  margin-top: 5rem;
  width: 75%;
  display: flex;
  flex-direction: column;

  .admin-project-more-overview {
  
    .admin-project-more-overview-head {
      font-size: 4rem;
    }
  }
}