@import "../../variables.scss";

.dashboard-content-container {
  width: 100%;
  padding-left: 50px;

  .dashboard-banner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $secondary;
    color: white;
    border-radius: 5px;
    padding: 3rem;

    .dashboard-banner-head {
      font-size: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 2rem;
      
      .dashboard-product-project-programs {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: bold;

        .product-program-avatar {
          font-size: 12px;
          padding: 0.5rem 1.5rem;
          margin-left: 0.75rem;
          border-radius: 2.5px;
          color: white;
        }
        .program-ds {
          background: $primary;
        }
        .program-ux {
          background: $nav-link-selected;
        }
        .program-web {
          background: $accent;
          color: black;
        }
      }

      .dashboard-product-status {
        font-size: 1.5rem;
        padding: 4px 15px;
        background: white;
        color: $nav-link-selected;
        border-radius: 5px;
      }
    }
    .dashboard-product-desc {
      font-size: 15px;
      line-height: 27.5px;
      margin-bottom: 2.6rem;
    }
    .dashboard-product-projects {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .dashboard-product-total-projects {
        font-size: 15px;
        background: white;
        padding: 1rem;
        color: black;
        border-radius: 5px;
      }
    }
  }
}
