@import '../../../styles/variables.scss';

.modalStyle {
  position: relative !important;
  height: 450px !important;
  width: 375px !important;
  h3 {
    font-size: 1.1rem;
    margin: 0 0 8px 0 !important;
  }
}

.modalCont {
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.buttonStyle {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.basicInput {
  border: none;
  border-radius: 5px;
  height: 35px;
  margin: 5px 0 5px 0;
  padding: 3px 5px;
  width: 100%;
  color: #333;
  background: #f0f0f0;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.1);
}

.basicInput:focus {
  outline: none;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.1),
    0 0 3px 1px #fccbdd;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  label {
    font-size: 1.1rem;
    font-weight: 900;
  }
}

.editColumnButton {
  color: #f54987;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  pointer-events: auto;
  outline: none;
}

.headerDiv {
  display: flex !important;
  flex-direction: row !important;
}

.closeButton {
  background: none;
  border: none;
  color: lightgray;
  font-size: 1.5rem;
  font-weight: 100;
  margin-right: 85px;
  cursor: pointer;
  pointer-events: auto;
  outline: none;
  &hover {
    color: gray;
  }
}

.button {
  background: #f87da9 !important;
  color: #fee5ee !important;
}

.button:hover {
  background: #f54987 !important;
  color: white !important;
}

.editColumnsDiv {
  display: flex;
  justify-content: space-between;
  margin: 0px 0 10px 0;
  padding: 10px 0 10px 0;
  border-top: 1px solid lightgray;
  font-weight: 600;
}

.itemsContainer {
  display: flex;
  justify-content: space-between;
}

.deleteIcon {
  padding: 4% 10%;
}
