@import '../../../styles/variables.scss';

.labelDesign {
  display: inline-block;
  color: white;
  text-align: center;
  padding-top: 2px;
  margin-bottom: 10px;
  width: 100px;
  height: 20px;
  border-radius: 25px;
  font-size: 0.8rem;
}

.modalCont {
  padding: 0 10% 3% 10%;
}

.basicInput {
  border: none;
  border-radius: 5px;
  height: 35px;
  margin: 5px 0 10px 0;
  padding: 3px 5px;
  width: 100%;
  color: #333;
  background: #f0f0f0;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.1);
}

.basicInput:focus {
  outline: none;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.1),
    0 0 3px 1px #fccbdd;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  label {
    font-size: 1.1rem;
    font-weight: 900;
  }
}

.labelPreviewCont {
  display: flex;
  justify-content: center;
  height: 47px;
  width: 250px;
}

.labelPreviewText {
  padding-right: 15px;
  color: gray;
  font-weight: 800;
}

label {
  font-weight: 800;
}
