.Sparkyline{
    margin-top: 5px;
    margin-right: 30px;
    cursor: pointer;
    border-bottom: 2px solid white;
    padding-bottom: 2px;
    &:hover {
        border-bottom: 1px solid black;
    }
}
