@import '../../../styles/variables.scss';

.toggleCont {
  background: #b6b6b6;
  border-radius: 50px;
  // border: 1px solid #d3d3d3;
  height: 20px;
  position: relative;
  width: 40px;
  margin-right: 5px;
}

.toggledCont {
  background: $accent;
  border-radius: 50px;
  // border: 1px solid #d3d3d3;
  height: 20px;
  position: relative;
  width: 40px;
  margin-right: 5px;
}

.toggledColumn {
  visibility: hidden;
}

.toggle {
  background: white;
  border-radius: 50px;
  height: 18px;
  top: 1px;
  left: 19px;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  background: white;
  border-radius: 50px;
  height: 18px;
  top: 1px;
  left: 1px;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.editColumnsDiv {
  display: flex;
  justify-content: space-between;
  margin: 0px 5% 10px 5%;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid lightgray;
  font-weight: 600;
}

.itemsContainer {
  display: flex;
  justify-content: space-between;
}

.deleteIcon {
  padding: 4% 10%;
}
