@import '../../../styles/variables.scss';

.modalStyle {
  position: relative !important;
  height: 325px !important;
  width: 500px !important;
}

.toggleCont {
  background: #f9f9f9;
  border-radius: 50px;
  border: 1px solid #d3d3d3;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggledColumn {
  visibility: hidden;
}

.toggle {
  background: #39b7cd;
  border-radius: 50px;
  height: 18px;
  left: 18px;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  background: $accent;
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}
.toggledCont {
  background: #ffcccb;
  border-radius: 50px;
  border: 1px solid #d3d3d3;
  height: 20px;
  position: relative;
  width: 40px;
}

.editColumnsDiv {
  display: flex;
  justify-content: space-between;
  padding: 0 20% 0 20%;
  height: 30px;
}
