@import '../../styles/variables.scss';

.bottomLinks {
  margin-left: 90% !important;
  margin-top: 10px !important;
}

.modalStyle {
  position: relative !important;
  height: 350px !important;
  width: 500px !important;
}

.buttonStyle {
  display: flex;
  flex-flow: row-reverse;
  bottom: 0;
}

.columnHeader {
  text-align: center;
}
