@import '../../styles/variables.scss';

.bottomLinks {
  position: fixed;
  margin-left: 92%;
  margin-top: 10px;
}

.settingsButton {
  padding: 0.5rem 1rem;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
  background: $accent;
  border: 1px solid $accent;
  border-radius: 3px;
  color: $light;
  font-family: $noto;
  font-size: 1.2rem;
  width: 8rem;
  margin: 0 auto;

  a {
    color: $light;
  }
}

.settingsButton:hover {
  background: transparent;
  color: $accent;
  cursor: pointer;

  a {
    color: $accent;
  }
}
