@import '../../styles/variables.scss';

.bottomLinks {
  margin-left: 90% !important;
  margin-top: 10px !important;
}

.modalStyle {
  position: relative !important;
  height: 350px !important;
  width: 500px !important;
}

.buttonStyle {
  position: fixed;
  width: 100%;
  bottom: 0;
}
